<!-- <router-outlet></router-outlet> -->
<app-menu></app-menu>
<main class="main">
  <section class="main__content">
    <h2 class="main__content--title">Post #1</h2>
    <p class="main__content--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sint facere necessitatibus laudantium harum laborum
      neque dicta earum quod culpa voluptatum dolorum itaque veniam explicabo esse natus, recusandae officia aperiam at minima
      accusantium, aut aliquam. Reiciendis quod voluptatem beatae modi unde cupiditate, eius quibusdam quae error aliquid
      amet blanditiis aliquam rerum officia fuga reprehenderit doloribus. Quasi harum fugiat quas unde id consectetur officia
      eum consequatur libero officiis perspiciatis voluptatem sunt dolorum, delectus reiciendis hic est veritatis. Adipisci
      veritatis, excepturi consequatur provident expedita, magnam officia ipsum ex fugiat sequi, vero soluta nihil a, illum?
      Doloribus tenetur voluptates, optio rerum earum ducimus.</p>
  </section>
  <aside class="main__sidebar">
    <ul>
      <li>Article #1</li>
      <li>Article #2</li>
      <li>Article #3</li>
      <li>Article #4</li>
      <li>Article #5</li>
      <li>Article #6</li>
    </ul>
  </aside>
</main>
<app-footer></app-footer>